* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  padding-inline: 1rem;
}

header {
  margin-block: 5rem 3rem;
}

header > h1 {
  text-align: center;
  color: #333;
  text-transform: uppercase;
  font-size: 3rem;
}

.container {
  width: fit-content;
  background-color: #fff;
  box-shadow: 0 0 25px lightgray;
  border-radius: 0.8rem;
  padding: 2rem;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.container > h1 {
  background-color: dodgerblue;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Consolas, "Courier New", Courier, monospace;
  border: 1px solid lightgray;
}

.controllers {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.controllers > div {
  padding-inline: 1rem;
  text-align: center;
}

.controllers div p {
  font-size: 1.2rem;
}

.controllers > div > p:first-child {
  font-weight: 600;
}
.controllers > div > p:last-child {
  font-weight: 500;
}

.controllers > div > input[type="range"] {
  width: 12rem;
  margin-block: 0.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

footer > a {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: mediumseagreen;
  padding-inline: 1rem;
  border-radius: 0.2rem;
  color: #fff;
  text-decoration: none;
  margin-bottom: 2rem;
  transition: background-color 0.2s ease-in;
}

footer > a:hover {
  background-color: dodgerblue;
}

@media screen and (max-width: 480px) {
  header {
    margin-block: 2rem;
  }
  .container > h1 {
    font-size: 1.2rem;
  }

  .controllers {
    gap: 1rem;
  }

  .controllers > div:not(:last-child) {
    border-bottom: 1px solid lightgray;
    flex: 1;
  }
}
